body {
  font-family: sans-serif;
  background-color: aliceblue;
}

#vikelabs-title {
  color: darkblue;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#samantha-cat-photo {
  pa
}
